extends layout

block content
  article.bespoke-parent
    section(data-bespoke-state='waves')
      .content 
        | Javascript's 
        strong Slightly 
        | Stricter Mode

    section(data-bespoke-state='none') Slide 2
    section Slide 3
