extends layout

block content
  article.bespoke-parent
    section(data-bespoke-state='waves blur')
      .content
        .byline
          .classy This talk is called:
        h1
          | Javascript's
          strong Slightly
          | Stricter Mode
        .byline
          .classy with this guy:
        .me
        .byline
          a(href='http://goodfil.ms') http://goodfil.ms
          a(href='https://twitter.com/glenmaddern') @glenmaddern
          a(href='http://github.com/geelen') geelen

    section(data-bespoke-state='confession')
      .content
        .byline
          .classy Firstly:
        h1 A confession
        .unbrokenline

    section(data-bespoke-state='confession')
      .content
        .unbrokenline
        h1 I am not really a Javascript developer
        .unbrokenline

    section(data-bespoke-state='goodfilms')
      .content
        .byline
          .classy When I built
        h1
          strong Goodfilms
        .unbrokenline

    section(data-bespoke-state='coffee')
      .content
        .byline
          .classy I used
        h1
          strong Coffeescript
        .byline
          .classy and still do.

    section(data-bespoke-state='programming')

    section(data-bespoke-state='code')
      .content
        h1 When did I start using it?
        pre(style='display: inline-block;')
          code.rainbow(data-language='javascript')
            span.string "use strict"
            | ;

    section(data-bespoke-state='yeoman')
      .content
        .unbrokenline
        h1
          strong Yeoman
          |  generated it for me.
        .byline
          .classy of course!

    section(data-bespoke-state='')
      .content
        h2 This talk is now:
        .byline
          .classy Things
        h2 Glen
          strong  didn't know
          |  about Javascript
        .byline
          .classy that are
        h2
          strong  mildly interesting
        .byline
          .classy and relate to
        h2
          strong strict mode

    section(data-bespoke-state='')
      .content
        .byline
          .classy Or,
        h2 Bugs
        .byline
          .classy that
        h2
          strong Strict mode fixes
        .byline
          .classy that I
        h2 didn't know existed
        .unbrokenline

    section(data-bespoke-state='code')
      .content
        pre
          code(data-language='ruby').
            # rubby.rb
            a = "foo"
        pre
          code(data-language='coffee').
            # cahfee.coffee
            a = "foo"
        pre
          code(data-language='javascript').
            //lolscript.js
            var a = "foo";

    section(data-bespoke-state='code')
      .content
        .row
          pre
            code(data-language='javascript').
              var a = Math.PI;
              console.log(a);
              // 3.14159...
          pre
            code(data-language='javascript').
              var a = Math.PI
              console.log(a)
              // 3.14159...
        .row
          pre
            code(data-language='javascript').
              a = Math.PI
              console.log(a)
              // 3.14159...
          pre
            code(data-language='javascript').
              function someSetup() {
                a = Math.PI;
              }
              someSetup();
              console.log(a);
              // 3.14159...

    section(data-bespoke-state='code')
      .content
        table
          thead
            tr
              td
                h3 Non-strict mode
              td
                h3 Strict mode
          tbody
            tr
              td
                pre
                  code(data-language='javascript').
                    function someSetup() {
                      a = Math.PI;
                    }
                    someSetup();
                    console.log(a);
                    // 3.14159...
              td
                pre
                  code(data-language='javascript').
                    "use strict";
                    function someSetup() {
                      a = Math.PI; // BOOM!
                    }
                    someSetup();
                    console.log(a);
            tr
              td
              td
                h4 throws ReferenceError
                "Strict mode forbids implicit creation of global property 'a'"

    section(data-bespoke-state='code')
      .content.nofade
        table
          thead
            tr
              td
                h3(data-bespoke-bullet) Non-strict mode
                h3(data-bespoke-bullet) YOLO mode
              td
                h3 Strict mode
          tbody
            tr
              td
                pre
                  code(data-language='javascript').
                    function someSetup() {
                      a = Math.PI;
                    }
                    someSetup();
                    console.log(a);
                    // 3.14159...
              td
                pre
                  code(data-language='javascript').
                    "use strict";
                    function someSetup() {
                      var a = Math.PI;
                    }
                    someSetup();
                    console.log(a); // BOOM!
            tr
              td
              td
                h4 throws ReferenceError
                "Can't find variable: a"

    section(data-bespoke-state='yolo')
      .content

    section(data-bespoke-state='')
      .content
        .byline
          .classy Strict mode:
        h2 removes some
          strong  lols
        .byline
          .classy &amp;
        h2 makes code
          strong  faster
        .byline
          .classy &amp;
        h2
          strong changes
          |  important stuff
        .unbrokenline

    section(data-bespoke-state='code')
      .content(data-bespoke-bullet)
        h3 YOLO mode
        pre
          code(data-language='javascript').
            var eval, arguments;
            eval = 010;
            delete eval;
            arguments = {x: 1, x: eval}
            function y(a, a) {
              return a;
            }
            console.log(y(null, arguments.x));
            // 8

      .content(data-bespoke-bullet)
        h3 Strict mode
        pre
          code(data-language='javascript').
            "use strict";
            var eval, arguments;        //keywords BOOM
            eval = 010;                 //octals BOOM
            delete eval;                //deleting locals BOOM
            arguments = {x: 1, x: eval} // duplicate key BOOM
            function y(a, a) {          // duplicate argument BOOM
              return a;
            }
        h4 Syntax Error
        "Parse error"

    section(data-bespoke-state='no')
      .content
        .unbrokenline
        h1 No more lols
        .unbrokenline

    section(data-bespoke-state='code')
      .content
        table
          thead
            tr
              td
                h3 YOLO mode
              td
                h3 Strict mode
          tbody
            tr
              td
                pre
                  code(data-language='javascript').
                    var a = {x: 1, y: 2};
                    var x = 3;
                    with (a) {
                      console.log(x);
                    }
                    // 1
              td
                pre
                  code(data-language='javascript').
                    "use strict";
                    var a = {x: 1, y: 2};
                    var x = 3;
                    with (a) { // BOOM!
                      console.log(x);
                    }
            tr
              td
              td
                h4 Syntax Error
                "Parse error"

    section(data-bespoke-state='code')
      .content
        table
          thead
            tr
              td
                h3 YOLO mode
              td
                h3 Strict mode
          tbody
            tr
              td
                pre
                  code(data-language='javascript').
                    function y() {
                      var me = arguments.callee;
                      return me.name +
                             " <- " +
                             me.caller.name;
                    };
                    function x() {
                      return y();
                    }
                    console.log(x());
                    // "y <- x"
              td
                pre
                  code(data-language='javascript').
                    "use strict";
                    function y() { // BOOM ☟
                      var me = arguments.callee;
                      return me.name +
                             " <- " +
                             me.caller.name;
                    };
                    function x() {
                      return y();
                    }
                    console.log(x());
            tr
              td
                em Note: Function.caller can do
                  br
                  | most of the same things anyway
              td
                h4 Type Error
                "Unable to access callee of strict mode function"

    section(data-bespoke-state='coffee')
      .content
        h2
          strong CoffeeScript
          |  is awesome.
        .unbrokenline
        h2 but it helps to
          strong  know Javascript first

    section(data-bespoke-state='tldr')
      .content
        .byline
          .classy TL;DR:
        h1 Use
          strong  Strict Mode
          |  inside an
          strong  IIFE
        .unbrokenline

    section(data-bespoke-state='love')
      .content
        .unbrokenline
        h1 I love the Web
        .byline
          .classy ...but I still don't 'know' JS.
