extends layout

block content
  article.bespoke-parent
    section(data-bespoke-state='waves blur')
      .content
        .byline
          .classy This talk is called:
        h1
          | Javascript's 
          strong Slightly 
          | Stricter Mode
        .byline
          .classy with this guy:
        .me
        .byline
          a(href='http://goodfil.ms') http://goodfil.ms
          a(href='https://twitter.com/glenmaddern') @glenmaddern
          a(href='http://github.com/geelen') geelen

    section(data-bespoke-state='confession')
      .content 
        .byline
          .classy Firstly:
        h1 A confession
        .unbrokenline

    section(data-bespoke-state='confession')
      .content 
        .unbrokenline
        h1 I am not really a Javascript developer
        .unbrokenline
        .byline
          .classy ... but the web is awesome

    section(data-bespoke-state='goodfilms')
      .content 
        .byline
          .classy I built:
        h1 Goodfilms
        .unbrokenline

    section(data-bespoke-state='love')
      .content 
        .byline
          .classy And now:
        h1 I love Javascript
        .byline
          .classy ...but I still don't 'know' it.

    section(data-bespoke-state='code')
      .content 
        pre
          code(data-language='javascript') #{  '\n "use strict"; \n\n' }

    section(data-bespoke-state='yeoman')
      .content 
        .unbrokenline
        h1
          strong Yeoman
        .byline
          .classy is awesome.

    section(data-bespoke-state='code')
      .content 
        pre
          code(data-language='javascript') #{  '\n "use strict"; \n\n' }

    section(data-bespoke-state='coffee')
      .content 
        h2
          strong CoffeeScript
          |  is awesome.
        .unbrokenline
        h2 but it helps to
          strong  know Javascript first