extends layout

block content
  article.bespoke-parent
    section(data-bespoke-state='waves blur')
      .content
        .byline
          .classy This talk is called:
        h1
          | Javascript's 
          strong Slightly 
          | Stricter Mode
        .byline
          .classy with this guy:
        .me
        .byline
          a(href='http://goodfil.ms') http://goodfil.ms
          a(href='https://twitter.com/glenmaddern') @glenmaddern
          a(href='http://github.com/geelen') geelen

    section(data-bespoke-state='confession')
      .content 
        .byline
          .classy Firstly:
        h1 A confession
        .unbrokenline

    section(data-bespoke-state='confession')
      .content 
        .unbrokenline
        h1 I am not really a Javascript developer
        .unbrokenline

    section(data-bespoke-state='goodfilms')
      .content 
        .byline
          .classy When I built
        h1 
          strong Goodfilms
        .unbrokenline

    section(data-bespoke-state='coffee')
      .content 
        .byline
          .classy I used
        h1 
          strong Coffeescript
        .byline
          .classy and still do.

    section(data-bespoke-state='programming')

    section(data-bespoke-state='code')
      .content 
        pre
          code.rainbow(data-language='javascript')
            span.string "use strict"
            | ;

    section(data-bespoke-state='yeoman')
      .content 
        .unbrokenline
        h1
          strong Yeoman
        .byline
          .classy is awesome.

    section(data-bespoke-state='code')
      .content 
        pre
          code.rainbow(data-language='javascript')
            span.string "use strict"
            | ;

    section(data-bespoke-state='')
      .content 
        h2 This talk is now:
        .byline
          .classy Things
        h2 Glen
          strong  didn't know
          |  about Javascript
        .byline
          .classy that are
        h2
          strong  mildly interesting
        .byline
          .classy and relate to
        h2
          strong strict mode

    section(data-bespoke-state='')
      .content 
        .byline
          .classy Or,
        h2 Bugs
        .byline
          .classy that
        h2
          strong Strict mode fixes
        .byline
          .classy that I
        h2 didn't know existed
        .unbrokenline

    section(data-bespoke-state='code')
      .content 
        pre
          code(data-language='ruby').
            # rubby.rb
            a = "foo"
        pre
          code(data-language='coffee').
            # cahfee.coffee
            a = "foo"
        pre
          code(data-language='javascript').
            //lolscript.js
            var a = "foo";

    section(data-bespoke-state='code')
      .content
        pre(data-bespoke-bullet)
          code(data-language='javascript').
            var a = Math.PI;
            console.log(a);
            // 3.14159...
        pre(data-bespoke-bullet)
          code(data-language='javascript').
            var a = Math.PI
            console.log(a)
            // 3.14159...
        pre(data-bespoke-bullet)
          code(data-language='javascript').
            a = Math.PI
            console.log(a)
            // 3.14159...
        pre(data-bespoke-bullet)
          code(data-language='javascript').
            function someSetup() {
              a = Math.PI;
            }
            someSetup();
            console.log(a);
            // 3.14159...

    section(data-bespoke-state='code')
      .content
        table
          thead
            tr
              td 
                h4 Non-strict mode
              td 
                h4 Strict mode
          tbody
            tr
              td
                pre
                  code(data-language='javascript').
                    function someSetup() {
                      a = Math.PI;
                    }
                    someSetup();
                    console.log(a);
                    // 3.14159...
              td
                pre
                  code.referrorline2(data-language='javascript').
                    "use strict";
                    function someSetup() {
                      a = Math.PI; // BOOM!
                    }
                    someSetup();
                    console.log(a);
            tr
              td
              td 
                h4 throws ReferenceError
                "Strict mode forbids implicit creation of global property 'a'"

    section(data-bespoke-state='code')
      .content.nofade
        table
          thead
            tr
              td 
                h4(data-bespoke-bullet) Non-strict mode
                h4(data-bespoke-bullet) YOLO mode
              td 
                h4 Strict mode
          tbody
            tr
              td
                pre
                  code(data-language='javascript').
                    function someSetup() {
                      a = Math.PI;
                    }
                    someSetup();
                    console.log(a);
                    // 3.14159...
              td
                pre
                  code.referrorline2(data-language='javascript').
                    "use strict";
                    function someSetup() {
                      var a = Math.PI;
                    }
                    someSetup();
                    console.log(a); // BOOM!
            tr
              td
              td 
                h4 throws ReferenceError
                "Can't find variable: a"

    section(data-bespoke-state='yolo')
      .content

    section(data-bespoke-state='code')
      .content
        table
          thead
            tr
              td 
                h4 YOLO mode
              td 
                h4 Strict mode
          tbody
            tr
              td
                pre
                  code(data-language='javascript').
                    var a = {x: 1, y: 2};
                    var x = 3;
                    with (a) {
                      console.log(x);
                    }
                    // 1
              td
                pre
                  code.referrorline2(data-language='javascript').
                    "use strict";
                    var a = {x: 1, y: 2};
                    var x = 3;
                    with (a) { // BOOM!
                      console.log(x);
                    }
            tr
              td
              td 
                h4 Syntax Error
                "Parse error"

    section(data-bespoke-state='coffee')
      .content 
        h2
          strong CoffeeScript
          |  is awesome.
        .unbrokenline
        h2 but it helps to
          strong  know Javascript first

    section(data-bespoke-state='tldr')
      .content 
        .byline
          .classy TL;DR:
        h1 Use
          strong  Strict Mode
          |  inside an
          strong  IIFE
        .unbrokenline

    section(data-bespoke-state='love')
      .content 
        .unbrokenline
        h1 I love the Web
        .byline
          .classy ...but I still don't 'know' JS.